<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="container-tics text-center">
      <ion-title class="header-title">Lista de Alumnos TICS</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="home-tics-list">
  <div class="container py-4 background-overlay">
    <div class="card mb-4 p-3 shadow section-transparent">
      <h2 class="text-center text-primary">Alumnos en TICS</h2>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
          <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Correo</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let alumno of ticsAlumnos">
            <td>{{ alumno.Nombre }} {{ alumno.ApellidoP }} {{ alumno.ApellidoM }}</td>
            <td>{{ alumno.NumeroT }}</td>
            <td>{{ alumno.Correo }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="footer text-center mt-4">
    <ion-icon name="logo-facebook" class="social-icon"></ion-icon>
    <ion-icon name="logo-github" class="social-icon"></ion-icon>
    <img src="https://raw.githubusercontent.com/Pulgarcit0/img/refs/heads/main/itvo/Itvo.png" alt="TecNM Logo" class="tecnm-logo">
  </footer>

</ion-content>
